<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Telechargement</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            {% for photo in photos %}
                <a class="dropdown-item" href="{{ url }}{{ photo }}">{{ photo }}</a>
            {% endfor %}
        </div>
    </li>
</ul>